{{!-- Needs to take in a Post object --}}
<section class="card post-preview">
    {{!-- The post title is the link --}}
<a href="/post/view/{{id}}" class="post-title">{{title}}</a>
<p class = "post-author">{{user.username}}</p>
<p class="post-created">{{dateCreated}}</p>
<p class="post-body">{{body}}</p>

</section>