{{!-- Takes a post object --}}
<section class="post-full">
    <section class="card post-preview m-3">
        <div class="card-header d-flex flex-row justify-content-between">
            {{!-- The post title is the link --}}
           {{plainPost.title}}
            <div class="d-flex">
                 {{#if loggedIn}}
            {{#if author}}
            <p class="pe-3"><a href="/post/edit/{{plainPost.id}}"><u>Edit post</u></a></p>
            {{/if}}
            {{/if}}
            <p>Posted by {{plainPost.user.username}} on {{format_date plainPost.dateCreated}}</p>
            </div>
           
        </div>
        <div class="card-body">
            <p class="post-body">{{plainPost.body}}</p>
        </div>
    </section>


</section>
{{#each plainPost.comments as |comment|}}
{{> commentView}}
{{/each}}
{{#if loggedIn}}
<button class="btn btn-outline-primary" id="commentButton">Comment</button>
<section class="comment-form" id="commentForm">
    <form>
        <input type="textarea" class="comment-body form-control m-2" id="commentBody" placeholder="Enter comment">
        <button class="btn btn-outline-primary" type="submit" id="commentSubmit">Submit</button>
    </form>

</section>
{{/if}}

<script src="/js/addComment.js"></script>
